	<ion-view view-title="&lt;img height=&quot;40px&quot; src=&quot;http://www.alpharealestate.co.id/img/view/logos/xxsm/2018/09/9/5ba4e45a-9090-4f85-9eba-429e0a0a0b65.png&quot; /&gt;" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title><img height="40px" src="http://www.alpharealestate.co.id/img/view/logos/xxsm/2018/09/9/5ba4e45a-9090-4f85-9eba-429e0a0a0b65.png" /></ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"  overflow-scroll="true"   id="page-menu_1" class="fullscreen page-menu_1">
		<ion-slide-box show-pager="true" auto-play="true" pager-click="true" >
	<ion-slide style="background: #999 url('data/images/pexels-photo-1732414.jpeg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.68;margin-top:150px">
				<h4>Sewa dan Beli rumah Lebih Mudah</h4>
				<p>Dengan aplikasi ini, anda dapat memilih rumah yang akan disewa atau di beli serta dapat menghubungi agent kami lebih cepat dan mudah</p>
			</div>
		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/pexels-photo-1546166.jpeg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.68;margin-top:150px">
				<h4>Pilih rumah tanpa Bingung</h4>
				<p>Listing Rumah kami merupakan listing rumah pilihan! Segala proses prosedural sudah ditangani oleh team kami</p>
			</div>
		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/pexels-photo-1266018.jpeg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
      <div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.74;margin-top:120px">
				<h4>Sudah Siap menemukan hunian baru?</h4>
                <br/>
              <p>Klik tombol berikut untuk ke Dashboard</p>
				<a class="button button-assertive" ng-href="#/alpha_real_estate_app/dashboard">Klik disini</a>
			</div>
      </div>
	</ion-slide>
</ion-slide-box>

		</ion-content>
		<!-- ./content -->
	</ion-view>
